@charset "UTF-8";

/ 重置所有標籤的樣式 */ * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 所有的標籤拿掉內框和邊線累加，讓設計RWD更方便 */

}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Ubuntu,
        "Helvetica Neue",
        Helvetica,
        Arial,
        /*中文*/
        "蘋方-繁",
        "PingFang TC",
        "黑體-繁",
        "Heiti TC",
        "微軟正黑體",
        "Microsoft JhengHei",
        "Noto Sans TC",
        sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/*     重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    /* 拿掉預設的粗體*/
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    /* 因img單獨存在時會有一個預設間距 */
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    text-decoration: none;
}