@use "sass:map";

$color:(
    bg-yellow:#EEEEEC,
    bg-deepYellow:#F6F0E0,
    bg-blue:#AAD2E9,
    bg-hover:rgba(0, 0, 0, 0.3),
    nav-deepblue:rgba(83, 124, 163, 0.7),
    list-white:rgba(255, 255, 255, 0.2),
)